body, html {
	height: 100%;
}

body {
	font-family: RobotoDraft, sans-serif;
	overflow-y: hidden;
	margin: 0px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

section {
	font-family: RobotoDraft, sans-serif;
	margin: 0px;
	padding: 0px 24px 24px;
}

paper-input {
	width: 100%;
	padding-bottom: 36px;
}

paper-input::shadow #floatedLabel {
	font-size: inherit;
}

paper-fab {
	position: absolute;
	top: 24px;
	right: 24px;
	fill: rgb(98, 98, 98);
	background-color: rgb(245, 245, 245);
	
	-webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 920px) {
	paper-fab {
		top: 16px;
	}
}

paper-fab.green {
	background-color: #0f9d58;
	fill: #fff;
	/* http://www.google.com/design/spec/style/color.html#color-ui-color-palette */
}

paper-item {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(221, 221, 221);
	padding: 32px;
}

paper-item:last-of-type {
	border-bottom-width: 0px;
}

paper-item.completed .fakeinput
, paper-item.completed time
, paper-item.completed paper-icon-button {
	text-decoration: line-through;
	color: #bdbdbd;
}

paper-item.completed paper-icon-button {
	fill: #e0e0e0;
}

paper-item input {
	position: relative;
	z-index: 1;
	
	border: 0px;
	margin: 0px 0px 0.5em;
	padding: 0.5em 0px;
	
	font-family: RobotoDraft, sans-serif;
	font-size: 1em;
	outline: none;
	background: transparent;
	width: 100%;
	border-bottom: 2px solid #ff5722;
}

paper-item .fakeinput {
	border-bottom: 2px solid transparent;
}

paper-checkbox + div {
	margin-left: 32px;
}

time {
	color: gray;
	display: block;
	margin-top: 8px;
	font-size: smaller;
}

paper-toast div {
	color: #eeff41;
}